/* Color Theme Swatches in Hex */
* {
  font-family: Roboto, sans-serif;
}

.stk-box {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}

.stk-square {
	width: 100px;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 8px;
	border: 4px solid grey;
	color: grey;
	font-size: 1.1em;
	font-weight: bolder;
}

.contact_icon {
  text-decoration: none;
}